.professor{
  margin-top: 4em;

}
.professor h1{
  font-size: 2.25em;
}

.cell-prof{
  width: 600px;
  margin: 30px;
  padding: 20px
  background-color: white;
  text-align: center;
  border-radius: 25px;
}
